body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
}

#loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 75vh;
  background: white;
  color: grey;
  transition: all 0.8s;
}

#progress-bar-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

#progress-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px;
  text-align: center;
  width: 70vw;
  border: 1px solid darkgrey;
  background-color: aliceblue;
  border-radius: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

#progress-bar-inner {
  width: 0%;
  /* background-color linear gradient with alpha 0.5 */
  background: linear-gradient(
    90deg,
    rgba(102, 93, 251, 0.5) 0%,
    rgba(0, 0, 251, 0.5) 100%
  );
  z-index: 100;
  display: inline-block;
  height: 100%;
  transition: all 0.2s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.question-container {
  top: 10vh;
  position: absolute;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  width: 100vw;
  background-color: white;
  transition: all 0.8s;
  height: 75vh;
}

#question-container-0 {
  transform: translateX(-100vw);
}

.next-button {
  display: none;
}

#evaluation-button {
  display: block;
}

.step-dot {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 13px;
  border: 1px solid darkgrey;
  background-color: white;
  min-height: 13px;
  transition: all 0.35s;
}

footer {
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.question {
  font-weight: bold;
  padding: 2rem;
}

.unchosen {
  transition: all 0.15s;
  border-style: solid;
  border-width: 2px;
}

.chosen {
  transition: all 0.15s;
  border-style: solid;
  border-width: 4px;
}

.option {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  padding-left: auto;
  padding-right: auto;
  margin-top: 2px;
}

.text {
  font-weight: bold;
  font-size: 16px;
  color: #0000ff;
  text-align: center;
}

/* media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #loading-pic {
    width: 45vw;
  }

  #loading-container {
    font-size: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  #loading-pic {
    width: 40vw;
  }

  #loading-container {
    font-size: 1.7rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #loading-pic {
    width: 35vw;
  }

  #loading-container {
    font-size: 1.9rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #loading-pic {
    width: 30vw;
  }

  #loading-container {
    font-size: 2.1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #loading-pic {
    max-width: 25vw;
  }

  #loading-container {
    font-size: 2.3rem;
  }
}

/* Extra extra large devices (extra large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  #loading-pic {
    max-width: 20vw;
  }

  #loading-container {
    font-size: 2rem;
  }
}
