body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

#loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 75vh;
  background: white;
  color: grey;
  transition: all 0.8s;
}

#progress-bar-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

#progress-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px;
  text-align: center;
  width: 70vw;
  border: 1px solid darkgrey;
  background-color: aliceblue;
  border-radius: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

#progress-bar-inner {
  width: 0%;
  /* background-color linear gradient with alpha 0.5 */
  background: linear-gradient(
    90deg,
    rgba(102, 93, 251, 0.5) 0%,
    rgba(0, 0, 251, 0.5) 100%
  );
  z-index: 100;
  display: inline-block;
  height: 100%;
  transition: all 0.8s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.question-container {
  top: 10vh;
  position: absolute;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  width: 100vw;
  background-color: white;
  transition: all 0.8s;
  height: 75vh;
}

#results-container {
  display: flex;
  transform: translateX(-100vw);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 75vh;
  background-color: white;
  transition: all 0.8s;
}

#question-container-0 {
  transform: translateX(-100vw);
}

.next-button {
  display: none;
}

#evaluation-button {
  display: block;
}

.evaluation-message {
  display: block;
  min-height: 51px;
  margin-top: 3rem;
  min-width: 10px;
}

.step-dot {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 13px;
  border: 1px solid darkgrey;
  background-color: white;
  min-height: 13px;
  transition: all 0.35s;
}

footer {
  position: absolute;
  bottom: 0px;
  height: 15vh;
  width: 100vw;
  display: block;
  align-items: center;
  justify-content: center;
  transition: all 0.35s;
  z-index: 100;
}

button {
  border: none;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #6665fb;
  color: white;
  transition: all 0.15s;
  cursor: pointer;
}

button:hover {
  background-color: #0000fb;
  transition: all 0.15s;
}

.question {
  font-weight: bold;
  padding: 2rem;
  cursor: pointer;
}

.options-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0% 10vw;
  background-color: white;
  transition: all 0.1s;
  margin-bottom: 2rem;
}

.unchosen {
  transition: all 0.1s;
  border-style: solid;
  border-width: 2px;
}

.chosen {
  transition: all 0.1s;
  border-style: solid;
  border-width: 4px;
  background-color: #6665fb;
  color: white;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  border-radius: 10px;
  border: 2px solid darkgrey;
  transition: all 0.1s;
  cursor: pointer;
}

.option:hover:not(.chosen, .wrong, .correct) {
  transition: all 0.05s;
  border: 2px solid #6665fb;
  background-color: rgba(102, 101, 251, 0.1);
  color: #6665fb;
  transition: all 0.1s;
}

.chosen.option {
  border-style: solid;
  border-width: 2px;
  background-color: #6665fb;
  color: white;
  transition: all 0.1s;
}

.chosen.correct.option {
  border-style: solid;
  border-width: 2px;
  background-color: rgba(1, 255, 1, 0.5);
  border-color: rgba(3, 147, 3, 0.5);
  color: inherit;
  cursor: inherit;
  box-shadow: 0px 0px 10px 0px rgba(1, 255, 1, 0.5);
  transition: all 0.1s;
}

.correct.option {
  border: 2px solid rgba(1, 255, 1, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(1, 255, 1, 0.5);
  background-color: whitesmoke;
  color: inherit;
  cursor: inherit;
  transition: all 0.1s;
}

.text {
  font-weight: bold;
  font-size: 16px;
  padding: 0.5rem;
  text-align: center;
}

/* media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .animated-svg {
    width: 45vw;
  }

  #loading-container {
    font-size: 1.5rem;
  }

  .option {
    min-width: 40vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .animated-svg {
    width: 40vw;
  }

  #loading-container {
    font-size: 1.7rem;
  }

  .option {
    min-width: 35vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .animated-svg {
    width: 35vw;
  }

  #loading-container {
    font-size: 1.9rem;
  }

  .option {
    min-width: 30vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .animated-svg {
    width: 30vw;
  }

  #loading-container {
    font-size: 2.1rem;
  }

  .option {
    min-width: 25vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .animated-svg {
    max-width: 25vw;
  }

  #loading-container {
    font-size: 2.3rem;
  }

  .option {
    min-width: 20vw;
  }
}

/* Extra extra large devices (extra large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .animated-svg {
    max-width: 20vw;
  }

  #loading-container {
    font-size: 2rem;
  }

  .option {
    min-width: 15vw;
  }
}
